# Flutter
build/
*.iml
.idea/
.vscode/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
pubspec.lock
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/**/doc/api/
/**/ios/Flutter/.last_build_id
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release

# Node.js / NestJS
node_modules/
dist/
.env*
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
lerna-debug.log*
/coverage
/.nyc_output
.temp
.tmp
pids

# OS
.DS_Store

# Miscellaneous
*.class
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json